$transp_dark: rgba(60, 56, 54, 0.45);

$dark_bg_color: #ffdfd6;
$dark_fg_color: #1b181b;
$theme_bg_color: #fdf0ed;
$theme_fg_color: #353535;
$theme_base_color: #fff6f6;
$text_view_bg:  #fff6f6;
$theme_text_color: #353535;
$theme_selected_bg_color: #ffb5da;
$theme_selected_fg_color: #171517;
$theme_tooltip_bg_color: #fdf0ed;
$theme_tooltip_fg_color: #353535;
$light_shadow: #fdf2ef;
$dark_shadow: #0b0b0b;
$info_fg_color: #353535;
$info_bg_color: #8096e7;
$warning_fg_color: #353535;
$warning_bg_color: #ff743f;
$question_fg_color: #353535;
$question_bg_color: #8096e7;
$error_fg_color: #353535;
$error_bg_color: #ff232f;
$link_color: #8e4c8a;
$success_color: #b7db3f;
$warning_color: #ff743f;
$error_color: #ff232f;
$titlebar_bg_focused: $dark_bg_color;
$titlebar_bg_unfocused: $theme_bg_color;
$titlebar_fg_focused: $dark_fg_color;
$titlebar_fg_unfocused: mix(#353535,#fdf0ed,0.4);
$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;
$toolbar_bg_color: $theme_bg_color;
$toolbar_fg_color: $theme_fg_color;
$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;
$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;
$borders: mix(#fdf0ed,#353535,0.1);
$unfocused_borders: mix(#fdf0ed,mix(#fdf0ed,#353535,0.1),0.9);
$button_bg_color: #ffc0d9;
$button_fg_color: #353535;
$header_button_bg_color: #ffc0d9;
$header_button_fg_color: #353535;
$insensitive_bg_color: mix(#fdf0ed,#fff6f6,0.6);
$insensitive_fg_color: mix(#353535,#fdf0ed,0.5);
$osd_base: #ffdfd6;
$osd_bg: rgba(255, 223, 214, 0.8);
$osd_fg: #1b181b;
$osd_insensitive_bg_color: mix(#1b181b,rgba(255, 223, 214, 0.8),0.5);
$osd_insensitive_fg_color: mix(#1b181b,#ffdfd6,0.6);
$osd_borders_color: rgba(255, 168, 144, 0.8);
$lightdm_bg_color: #ffdfd6;
$lightdm_fg_color: #1b181b;
$theme_unfocused_fg_color: mix(#353535,#fdf0ed,0.5);
$theme_unfocused_text_color: #353535;
$theme_unfocused_bg_color: #fdf0ed;
$theme_unfocused_base_color: #fff6f6;
$theme_unfocused_selected_bg_color: #ffb5da;
$theme_unfocused_selected_fg_color: #171517;
$unfocused_insensitive_color: #f5b7a8;
$wm_bg_focused: #ffdfd6;
$wm_bg_unfocused: #fdf0ed;
$wm_border_focused: #ff3ea5;
$wm_border_unfocused: #e7dbdb;
$wm_title_focused: #1b181b;
$wm_title_unfocused: mix(#353535,#fdf0ed,0.4);
$wm_icons_focused: #1b181b;
$wm_icons_focused_prelight: #ffb5da;
$wm_icons_focused_pressed: #ff5eae;
$wm_icons_unfocused: mix(#353535,#fdf0ed,0.4);
$wm_icons_unfocused_prelight: #ffb5da;
$wm_icons_unfocused_pressed: #ff5eae;
