@import "colors";

$simple-back: #0f0f17;
$hover-back: #414868;
$font-col: #cfc9c2;

* {
    all: unset;
}

.bar {
    border-radius: 15px;
    font-size: 14px;
    font-family: "Hack Nerd Font";
    font-weight: bold;
    background-color: $transp_dark;
}

@keyframes blink-warning {
    70% {}
    to { color: $bright_orange; }
}

@keyframes blink-critical {
    70% {}
    to { color: $bright_red; }
}

@keyframes hov_select {
    from {background-color: $bg_color;}
    to {background-color: $gray;}
}

@import "bar/left_modules/left";
@import "bar/center_modules/center";
@import "bar/right_modules/right";

@import "calendar/calendar";
@import "screenshot/screenshot";
@import "powermenu/powermenu";


tooltip {
    background-color: $dark1;
    border-radius: 7px;
}
