.screenshotmenu {
    border: .1rem solid;
    border-radius: 1rem;
    border-color: $neutral_purple;
    font: 1.4rem "Hack Nerd Font";
    background-color: $bg_color;
    color: $text_color;
    padding: .13rem;
}
