.right_modules {
    border-radius: 15px;
    background-color: $bg_color;
}

.button {
    border-radius: 15px;
    padding: 7px 9px 7px 9px;
    background-color: $bg_color;
}

.button:hover {
    background-color: $gray;
    animation-name: hov_select;
    animation-duration: 0.43s;
}

.wifi {
    border-radius: 15px;
    padding: 7px 14px 7px 9px;
    background-color: $bg_color;
}

.wifi:hover {
    background-color: $gray;
    animation-name: hov_select;
    animation-duration: 0.43s;
}

.tray menu {
    border-radius: 10px;
    padding: 5px 0px;
    background-color: $dark1;

    >menuitem {
	padding: 0px 5px;
	&:disabled label {
	    color: gray;
	}
	&:hover {
	    background-color: $light0_hard;
	    color: $dark1;
	}
    }

    separator {
	background-color: #222222;
	padding-top: 1px;
	&:last-child {
	    padding: unset;
	}
    }
}

.date-time {
    border-radius: 15px;
    background-color: $bg_color;
}

.date-time:hover {
    background-color: $gray;
    animation-name: hov_select;
    animation-duration: 0.43s;
}

.time-btn {
    border-radius: 15px;
    padding: 7px 9px 7px 9px;
}

.date-btn {
    border-radius: 15px;
    padding: 7px 9px 7px 9px;
}
