.menu_btn {
    font-size: 1.8em;
    background-color: $bg_color;
    color: $neutral_purple;
    border-radius: 1rem;
    padding-left: .7rem;
    padding-right: 1.4rem;
}

.workspaces {
    border-radius: .7rem;
    background-color: $bg_color;
    margin-left: .2rem;
}

.ws_button {
    background-color: $bg_color;
    border-radius: .7rem;
    padding-top: .1rem;
    padding-left: .4rem;
    padding-right: .4rem;
    color: $text_color;
}

.ws_button_focused {
    border-radius: .7rem;
    border-bottom: .15rem solid;
    padding-top: .1rem;
    padding-left: .4rem;
    padding-right: .4rem;
    color: $text_color;
    background-color: $gray;
    min-width: 1.6rem;
}

.ws_button:hover {
    background-color: $gray;
    animation-name: hov_select;
    animation-duration: 0.43s;
}
