.cal-box {
    margin-top: 0.75rem;
    border-radius: 1rem;
    background-color: $dark_bg_color;
    color: $theme_text_color;
}

.cal-inner-box {
    padding: .75em;
}

.monthyear {
    font-size: 1.75rem;
    font-weight: bold;
    margin: .5rem 0;
    color: $wm_border_focused;
}

.day-names {
    font-weight: 600;
    padding: 0 1rem;
    padding-top: 1rem;
    color: $dark_fg_color;
    font-size: 1.5em;
}

.cal {
    &.highlight {
        padding: 5em;
    }
    padding: .8em .9em 0em;
}

calendar:selected {
    padding-top: 1em;
    color: $error_color;
}

calendar:indeterminate {
    color: $info_bg_color;
}
