.right_modules {
    border-radius: 1rem;
    background-color: $dark_bg_color;
}

.button {
    border-radius: 1rem;
    padding: .5rem;
    background-color: $dark_bg_color;
}

.button:hover {
    background-color: $theme_selected_bg_color;
    animation-name: hov_select;
    animation-duration: 0.43s;
}

.button-warning {
    @extend .button;
    animation-name: blink-warning;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.button-critical {
    @extend .button;
    animation-name: blink-critical;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.wifi {
    @extend .button;
    padding-right: .9rem;
}

.tray menu {
    border-radius: .7rem;
    padding: .5rem 0;
    background-color: $dark_bg_color;

    >menuitem {
	padding: 0px .5rem;
	&:disabled label {
	    color: gray;
	}
	&:hover {
	    background-color: $theme_selected_bg_color;
	    color: $theme_selected_fg_color;
	}
    }

    separator {
	background-color: #222222;
	padding-top: .1rem;
	&:last-child {
	    padding: unset;
	}
    }
}

.date-time {
    border-radius: 1rem;
    background-color: $dark_bg_color;
}

.date-time:hover {
    background-color: $theme_selected_bg_color;
    animation-name: hov_select;
    animation-duration: 0.43s;
}

.time-btn {
    border-radius: 1rem;
    padding: .5rem;
}

.date-btn {
    border-radius: 1rem;
    padding: .5rem .5rem .5rem 0;
}
