.powermenu-box {
    border: .15rem solid;
    border-radius: 2rem;
    border-color: $neutral_purple;
    font: 2.5rem "Hack Nerd Font";
    background-color: $bg_color;
    color: $text_color;
    padding: 1.25rem;
}

.powermenu-image {
    border-radius: 100%;
    background-image: url("/home/vaskho/.config/wallpapers/powermenu.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: .15rem solid;
    border-color: $neutral_purple;
}
